* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: StratosSkyeng;
    src: url('./static/fonts/stratosskyengweb-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

body {
    background: #004980;
    font-family: StratosSkyeng, sans-serif;
}

.center {
    padding-left: calc(50% - 240px);
    padding-right: calc(50% - 240px);
}

.center-big {
    padding-left: calc(50% - 488px);
    padding-right: calc(50% - 488px);
}

.button {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background-color: #7ac100;
    border-radius: 12px;
    cursor: pointer;
    font-family: StratosSkyeng, sans-serif;
    width: 246px;
    height: 50px;
    border: none;
}

.choice {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    align-content: center;
    margin-top: 158px;
    margin-bottom: 158px;
    flex-flow: column wrap;
    align-items: center;

    &__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        text-align: center;
        color: #004980;
        margin-top: 52px;
    }

    &__items-wrap {
        display: flex;
        margin-top: 48px;
        margin-bottom: 67px;
        gap: 24px;
    }

    &__items-wrap input[type='radio'] {
        display: none;
    }

    &__items-wrap label {
        width: 98px;
        height: 98px;
        border-radius: 12px;
        font-size: 64px;
        font-weight: 400;
        line-height: 72px;
        color: #0080c1;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    /* Hover */
    &__items-wrap label:hover {
        border: 1px solid #0080c1;
    }

    /* Checked */
    &__items-wrap input[type='radio']:checked + label {
        background: #7ac100;
    }
}

.game-field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    &__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        text-align: center;
        color: #fff;
        margin-top: 52px;
    }
}

header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 35px;
    justify-content: space-between;
    align-items: center;
}

.timer {
    &__units {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: #fff;
        gap: 57px;
        justify-content: flex-end;
    }

    &__time {
        font-size: 64px;
        font-weight: 400;
        line-height: 72px;
        text-align: left;
        color: #fff;
    }
}

.result {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 26px;

    &__title {
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        color: #004980;
        margin-top: 9px;
    }

    &__timer-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #000;
        margin-top: 28px;
        margin-bottom: 10px;
    }

    &__timer-time {
        font-size: 64px;
        font-weight: 400;
        line-height: 72px;
        color: #000;
        margin-bottom: 40px;
    }
}

.modal {
    position: absolute;
    top: 158px;
}
